@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(at top left, #000000d8, #001520ef) fixed;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    background: rgba(77, 77, 77, 0.247);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #5252526e;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .cards {
        justify-content: center;
    }
}

.card {
    width: 48%;
    margin-bottom: 20px;
    background: rgba(77, 77, 77, 0.247);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #5252526e;
    transition: 0.3s;
}

.card:hover {
    border: 2px solid #0d4dff;
    transition: 1s;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

.card img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}


footer {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
}

.button {
    background: transparent;
    background: #5a84f83a;
    border: 2px solid #2b63ff !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .button {
        width: 80%;
    }
}

.button:hover {
    background: #5a84f850;
    box-shadow: 0px 0px 10px 0px #0d4eff50;
    transition: 1s;
}

.redirect {    
    background: #424242;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.redirect-popup {
    background: #000000d7;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.redirect-popup .content {
    width: 30%;
    height: 40%;
    background: #222222;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #5252526e;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    bottom: 50%;
    top: 50%;
    margin: 0 auto;
    margin-left: 50%;
    margin-top: 20%;
}

@media (max-width: 768px) {
    .redirect-popup .content {
        width: 100%;
        height: 50%;
        margin-top: 60%;
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1b1b1bab;
    backdrop-filter: blur(5px);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1b1b1bab transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
.langs {
    display: flex;
    flex-wrap: wrap;
}

/* when on mobile, all components in the langs row, will use a horizontal scroll */
@media (max-width: 768px) {
    .langs {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
        margin-left: -20px;
    }
}
